body {
  font-family: 'robotoregular', 'robotomedium', 'robotobold', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  background: no-repeat url(./img/main.png);
  background-size: cover;
}

.wrapper {
  margin: 0;
  width: auto;
  height: 100vh;
  padding: 0 0 0 103px;
}

.wrap-game {
  display: none;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  height: 100vh;
}

.middle {
  width: 65%;
}

.hard {
  width: 90%;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: calc(24px + 33 * (100vw / 1440));
  line-height: 67px;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 10px;
  padding-top: 127px;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: calc(13px + 6 * (100vw / 1440));
  line-height: 22px;
  letter-spacing: 0.08px;
  padding-left: 3px;
  color: #fff;
  margin-bottom: 60px;
}

.level {
  padding-left: 49px;
  margin-bottom: 143px;
}

.level__game {
  position: relative;
  font-weight: bold;
  font-size: calc(20px + 30 * (100vw / 1440));
  line-height: 55px;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 0 0 29px 0;
  cursor: pointer;
}

.active::after {
  width: 18px;
  height: 18px;
  content: '';
  position: absolute;
  left: -45px;
  top: calc(50% - 8px);
  background: #d62b2e;
  transform: rotate(45deg);
}

.button {
  border: 2px solid red;
  width: 352px;
  height: 95px;
  text-decoration: none;
  font-weight: bold;
  font-size: calc(20px + 12 * (100vw / 1440));
  line-height: 39px;
  letter-spacing: -0.02em;
  color: #fff;
  background: #d62b2e;
  border-radius: 7px;
  box-shadow: 2px 4px 6px #524646;
  padding: 23px 82px;
  cursor: pointer;
}

.card1 {
  background: no-repeat url('img/card.svg');
  background-size: contain;
  width: 218px;
  height: 341px;
  position: absolute;
  left: 61.6%;
  top: 51.8vh;
  transform: rotate(12deg);
}

.card2 {
  background: no-repeat url('img/card.svg');
  background-size: contain;
  width: 218px;
  height: 341px;
  position: absolute;
  left: 74.3%;
  top: 53.5vh;
  transform: rotate(39.2deg);
}

.flip-card {
  position: relative;
  background-color: transparent;
  width: 218px;
  height: 341px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.rotate {
  transform: rotateY(180deg);
}

.flip-card__front,
.flip-card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card__front {
  background: no-repeat url('img/card.svg');
}

.flip-card__front:hover {
  will-change: transform;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  transform: translateY(-30px) rotateZ(-2deg);
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card__back {
  background: no-repeat url('img/gameOver.svg');
  transform: rotateY(180deg);
}

.flip-card__back-bug {
  position: absolute;
  background: no-repeat url('img/bug.svg');
  background-size: cover;
  transform: rotateY(180deg);
}

@media screen and (max-width: 1950px) and (min-width: 1500px) {
  .wrapper {
    padding: 0 0 0 150px;
  }

  .card1 {
    height: 375.1px;
    width: 239.8px;
  }

  .card2 {
    height: 375.1px;
    width: 239.8px;
  }
}

@media screen and (max-width: 1950px) and (min-width: 1579px) {
  .middle {
    width: 45%;
  }

  .hard {
    width: 70%;
  }
}

@media screen and (max-width: 1780px) and (min-width: 1580px) {
  .hard {
    width: 80%;
  }

  .middle {
    width: 50%;
  }
}

@media (max-width: 1730px) {
  .middle {
    width: 55%;
  }
}

@media (max-width: 1450px) {
  .middle {
    width: 65%;
  }

  .hard {
    width: 90%;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1025px) {
  .card1 {
    left: 53.67%;
    top: 40.8%;
  }

  .card2 {
    left: 67.3%;
    top: 41.3%;
  }

  .middle {
    width: 56%;
  }

  .hard {
    width: 85%;
  }

  .flip-card {
    height: 272.8px;
    width: 174px;
  }

  .flip-card__front,
  .flip-card__back {
    background-size: cover;
  }
}

@media (max-width: 1141px) {
  .middle {
    width: 57%;
  }

  .hard {
    width: 98%;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 0 0 70px;
  }

  .level {
    margin-bottom: 100px;
  }

  .card1 {
    height: 272.8px;
    width: 174px;
    left: 53.67%;
    top: 40.8%;
  }

  .card2 {
    height: 272.8px;
    width: 174px;
    left: 68.3%;
    top: 41.3%;
  }

  .flip-card {
    height: 238.7px;
    width: 152.6px;
    margin: 8px;
  }

  .flip-card__front,
  .flip-card__back {
    background-size: cover;
  }

  .middle {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .wrapper {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
  }

  .title {
    padding-top: 300px;
  }

  .subtitle {
    padding: 0 10%;
    margin-bottom: 30px;
  }

  .level {
    padding-left: 0;
    margin-bottom: 40px;
  }

  .level__game {
    margin-bottom: 30px;
    line-height: 40px;
  }

  .active::after {
    display: none;
  }

  .active {
    color: #d62b2e;
  }

  .level__game:hover {
    content: '';
    color: #d62b2e;
  }

  .card1 {
    left: 30.8%;
    top: 3%;
    height: 238.7px;
    width: 152.6px;
  }

  .card2 {
    left: 50.3%;
    top: 4%;
    height: 238.7px;
    width: 152.6px;
  }

  .button {
    padding: 15px 60px;
  }

  .flip-card {
    height: 204.6px;
    width: 130.8px;
  }

  .middle {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .title {
    padding: 350px 5% 0;
    font-size: calc(24px + (33 + 33 * 0.7) * ((100vw - 320px) / 1440));
    line-height: 35px;
    margin-bottom: 20px;
  }

  .subtitle {
    font-size: calc(13px + (6 + 6 * 0.7) * ((100vw - 320px) / 1440));
    margin-bottom: 5%;
  }

  .level__game {
    font-size: calc(20px + (30 + 30 * 0.7) * ((100vw - 320px) / 1440));
    line-height: 23px;
  }

  .level {
    margin-bottom: 8%;
  }

  .button {
    padding: 15px 70px;
  }

  .card1 {
    left: 30.3%;
    top: 5%;
    height: 238.7px;
    width: 152.6px;
  }

  .card2 {
    left: 46.3%;
    top: 7%;
    height: 238.7px;
    width: 152.6px;
  }

  .flip-card {
    height: 170.5px;
    width: 109px;
    margin: 6px;
  }

  .middle {
    width: 58%;
  }

  .hard {
    width: 94%;
  }
}

@media screen and (max-width: 643px) and (min-width: 483px) {
  .flip-card {
    height: 136.4px;
    width: 87.2px;
    margin: 3px 5px 0 5px;
  }

  .middle {
    width: 60%;
  }

  .hard {
    width: 98%;
  }
}

@media screen and (max-width: 495px) and (min-width: 485px) {
  .hard {
    width: 58%;
  }
}

@media (max-width: 484px) {
  .title {
    padding: 300px 5% 0;
  }

  .card1 {
    left: 26%;
    top: 5%;
    height: 204.6px;
    width: 130.8px;
  }

  .card2 {
    left: 51.3%;
    top: 7%;
    height: 204.6px;
    width: 130.8px;
  }

  .flip-card {
    height: 136.4px;
    width: 87.2px;
    margin: 3px 5px 0 5px;
  }

  .middle {
    width: 80%;
  }

  .hard {
    width: 60%;
  }
}

@media (max-width: 375px) {
  .wrapper {
    padding: 0;
  }

  .title {
    padding-top: 210px;
    margin-bottom: 10px;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .level__game {
    margin-bottom: 3%;
  }

  .button {
    padding: 8px 40px;
  }

  .card1 {
    height: 170.5px;
    width: 109px;
    left: 25%;
    top: 3%;
  }

  .card2 {
    height: 170.5px;
    width: 109px;
    left: 48%;
    top: 4%;
  }

  .flip-card {
    height: 102.3px;
    width: 65.4px;
    margin: 3px 5px 0 5px;
  }

  .middle {
    width: 80%;
  }

  .hard {
    width: 60%;
  }
}

@media (max-width: 320px) {
  .flip-card {
    height: 102.34px;
    width: 65.4px;
    margin: 3px 5px 0 5px;
  }
}
